body {
    color: #fff !important;
    background-color: rgb(185, 203, 217) !important;
}

h1 {
    color: rgb(248, 244, 233);
    text-shadow: 2px 2px rgb(33, 37, 41);
    text-align: center;
    margin: 30px;
}

h2 {
    margin-left: 16%;
    color: rgb(248, 244, 233);
    text-shadow: 2px 2px rgb(33, 37, 41);
    margin-bottom: 50px;
}

hr {
    border: 3.5px solid #fff;
    width: 45%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 80px;
}
.progress {
    width: 45rem;
    margin-left: 11rem;
}

.elsajatitott {
    width: 50rem;
    height: 40rem;
}

.timeline {
    border: 5px solid rgb(248, 244, 233);

}

.edzes {
    border: 5px solid rgb(248, 244, 233);
    margin-top: 2rem;
    max-height: 550px;
}

.hobbiszoveg {
    color: rgb(248, 244, 233);
    font-weight: bold;
    font-size: 2vw;
    width: 30rem;
}

.keszsegek {
    height: 60rem;
}

.hobbi {
    height: 5rem;
    width: 30rem;
}

.pozicio {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.copyright {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(248, 244, 233);
}

.card-img-top {
    margin-top: 0.5rem;
    border: 5px solid rgb(185, 203, 217);

}

.szoveg {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: rgb(248, 244, 233) !important;
    font-weight: bold;
}

.navbar .nav-item {
    margin-right: 15px;
}

.footer-div {
    background-color: rgb(33, 37, 41);
    height: 8rem;
}

.main-div {
    background-color: rgb(248, 244, 233);
    width: 100%;
    height: fit-content;
    margin: 30px;
    margin-bottom: 80px;
    margin: auto;
    border: rgb(33, 37, 41) 2px solid;
    color: #000;
    font-size: 1.2vw;
    text-align: justify;
}

.main-div2 {
    background-color: rgb(248, 244, 233);
    width: 100%;
    height: fit-content;
    margin: 30px;
    margin-bottom: 80px;
    margin: auto;
    border: rgb(33, 37, 41) 2px solid;
    color: #000;
    font-size: 1.2vw;
    padding: 20px;
    text-align: center;
}

.name {
    float: right;
}











/* Hover animációk */
.hover-underline {
    font-size: 1rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #fff, gray);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}